Configured on @cmake_time@

This is a build configuration file meant to keep track of the cmake
build settings for posterity's sake. Upon building with cmake, see
the build/bin folder for the build_config.txt file for the build's 
specific details.

All of these cmake parameters can be found in the cmake cache as
well, but this file contains those pertinent to the physics.

==================================================================

The following are the Hamiltonian-specific parameters:
    
    ISING2D         = @ISING2D@ 
    RFIM            = @RFIM@

    ASHKIN_TELLER2D = @ASHKIN_TELLER2D@
    RFAT_BAXTER     = @RFAT_BAXTER@
    AT_DENSITIES    = @AT_DENSITIES@

==================================================================
******************************************************************
==================================================================

The following are the REWL-specific compile-time options:

    MPI_ON               = @MPI_ON@
    COLLECT_TIMINGS      = @COLLECT_TIMINGS@
    PRINT_HISTOGRAM      = @PRINT_HISTOGRAM@
    REDUCE_LOGDOS        = @REDUCE_LOGDOS@

    SAMPLE_AFTER         = @SAMPLE_AFTER@
    TRAPEZOIDAL_RULE     = @TRAPEZOIDAL_RULE@
    INDEPENDENT_WALKERS  = @INDEPENDENT_WALKERS@
    DIFFERENT_SEEDS      = @DIFFERENT_SEEDS@

    EQUAL_WINDOWS        = @EQUAL_WINDOWS@
    JOB_ARRAYS           = @JOB_ARRAYS@
    CORRELATION_LENGTHS  = @CORRELATION_LENGTHS@
    SIMULATED_ANNEALING  = @SIMULATED_ANNEALING@

    ONE_OVER_T_ALGORITHM = @ONE_OVER_T_ALGORITHM@ 

==================================================================

